.header{
    height: 50px;
    width: 100%;
    padding: 0 8%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    display: inline-block;
    margin: 0 15px;
}

nav li a{
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 0;
    position: relative;
}

nav li a:hover {
    color: #fff;
    background-color: #000;
}

#logo {
    height: 50px;
    width: auto;
}