*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding: 0 28px;
    float: right;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}

#logo {
    height: 75px;
    width: auto;
    cursor: pointer;
}

nav input[type=text] {
    padding: 6px;
    margin-right: 50px;
    font-size: 17px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    border-color: #000;
    border-radius: 30px;
}

nav input:focus-within {
    border-radius: 5px;
}

.shoes1{
    text-align: center;
    margin-left: 210px;
    display: inline-flex;
    font-weight: 30px;
}

.shoes1 img{
    width: 460px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 36px;
    margin-top: 100px;
    float: left;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.shoes img{
    width: 460px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 36px;
    float: left;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.shoes{
    text-align: center;
    margin-left: 210px;
    display: inline-flex;
    font-weight: 30px;
}

.container {
    position: relative;
    width: 50%;
}

.container :hover image{
    opacity: 9;
}
  
.container:hover .middle{
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.text{
    transition: .5s ease;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(246, 246, 246);
    font-size: 25px;
    padding: 16px 32px;
}

.clothes{
    padding-top: 12vh;
    margin-left: 300px;
}

hr{
    width: 1400px;
}

.clothes img{
    width: 460px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 36px;
    margin-top: 100px;
    float: left;
}

.clothes img:hover{
    transform: scale(1.1);
    transition: 200ms;
}

h2{
    font-weight: 300;
    clear: both;
}

.jordan{
    margin-left: 12%;
    margin-right: 12%;
    cursor: pointer;
}

.luka1{
    margin-top: 10%;
}

#forthelove{
    text-align: center;
    font-size: 12pt;
    margin-top: 12px;
}

.cimsor{
    text-align: center;
    font-weight: bolder;
    font-size: 32pt;
    margin-top: 12px;
}

.szöveg{
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
    margin-left: 15%;
    margin-right: 15%;
}

.cim{
    margin-top: 2cm;
    margin-bottom: 10px;
}

td, th { 
    padding: 4px;
}

td a{
    text-decoration: none;
    color: white;
}
    
table {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    width: 40%;
}

td{
    font-size: 12px;
    color: gray;
}

a{
    color: #000;
    text-decoration: none;
}